@font-face {
    font-family: "Lato";
    src: url("../webfonts/Lato-Regular.ttf")

}

html, body {
    max-width: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Lato";
}

.panel {
    background-color: #eee;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 300px;
    margin: auto;
}


.btn {
    width: 100px;
    height: 50px;
    border-radius: 2px;
    transition: 0ms;
}

.btn:active {
    transform: translateY(4px);
    transition: 0ms;
}

.btn-success {
    box-shadow: 0 9px rgb(0, 155, 0) !important;
}

.btn-success:active {
    box-shadow: 0 5px green !important;
}

.btn-primary {
    box-shadow: 0 9px rgb(50, 50, 250) !important;
}

.btn-primary:active {
    box-shadow: 0 5px rgb(0, 0, 230) !important;
}

.panel-login {
    padding: 10px;
    display: grid;
    grid-template-rows: .2fr .01fr .69fr .1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "head"
        "hr"
        "login"
        "button"
}

.panel-login .head {
    grid-area: head
}

.panel-login hr {
    grid-area: hr;
    color: black;
    margin: 0;
}

.panel-login .login {
    grid-area: login;
    width: 280px;
    display: grid;
    margin: auto;
    grid-template-rows: 1fr;
    grid-template-columns: .2fr .8fr;
    grid-template-areas: 
    "labels inputs";
}

.panel-login .button-login {
    grid-area: button
}

.panel-login .login .inputs{
    text-align: center;
    grid-area: inputs
}

.panel-login .login .labels{
    text-align: left;
    grid-area: labels;
}

.panel-login .login .labels label {
    display: block;
}

.panel-login .button-login input
{
    width: 100px;
    height: 50px;
}
